h1{
	color:darkred;
	background-color: grey;
}
body{
	background-color: grey;
}
h1, legend{
font-family: nosifer;
font-weight: 400;
color: darkred;
background-color: grey;
}
form {
	max-width: 40em;
	border: 1px solid #666;
	border-radius: 10px;
	background-color: #f2f5d5;
	padding: 1em;
}